.container-footer {
    background-color: black;
    width: 100%;
    height: 5em;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
   padding: 3em;
}

.date {
    display: flex;
    flex-direction: column;

}
.feed{
  
    width: 5%;
    display: flex;
    justify-content: space-between;
}

.icon{
    width: 2em;
    height: 2em;
    padding: 5px;
    color: white;
    
}